# CUSTOMER BEHAVIOUR ANALYSIS

## 0. LIBREARIES USED

In [3]:
import os
import datetime
import warnings
import pandas as pd 
import numpy as np
import datetime as dt
from operator import attrgetter
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import sqlalchemy as alch
from getpass import getpass
from sklearn.preprocessing import MinMaxScaler

In [4]:
import re
import os
import src.downloading as dl
import src.cleaning as cl
import src.transformation as ts
import src.visualization as vs
import src.stats as st

### 1.CONTEXT

A superstore is planning for the end season sale. 

They want to launch a new offer to strategic customer segments that gives a promotion on all purchases in order to increase frequency of the purchases and increase the price basket.

With this analysisis we want to figure out which are the target customers what will be the strategy for each one to run this promotion.orIt will be valid only for existing customers and the campaign through phone calls is currently being planned for The best way to reduce the cost of the campaign is to make a predictive model which will classify customers who might purchase the offer.

The superstore wants to predict the likelihood of the customer giving a positive response and wants to identify the different factors which affect the customer's response. You need to analyze the data provided to identify these factors and then build a prediction model to predict the probability of a customer will give a positive response.

This analysis can explain which of your marketing efforts most strongly correlate to purchases.

In [5]:
df=dl.load_data('dataset/superstore.csv')
df.sample()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
8161,8162,CA-2015-120915,9/28/2015,10/3/2015,Second Class,JJ-15445,Jennifer Jackson,Consumer,United States,New York City,...,10035,East,OFF-AP-10002578,Office Supplies,Appliances,"Fellowes Premier Superior Surge Suppressor, 10...",293.52,6,0.0,76.3152

In [6]:
nan_count = df.isna().sum()
df.shape
df.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [7]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [8]:
uniquevalues=cl.unique_values(df)

Row ID:
[   1    2    3 ... 9992 9993 9994]

Order ID:
['CA-2016-152156' 'CA-2016-138688' 'US-2015-108966' ... 'CA-2014-110422'
 'CA-2017-121258' 'CA-2017-119914']

Order Date:
['11/8/2016' '6/12/2016' '10/11/2015' ... '6/3/2016' '4/12/2015'
 '1/21/2014']

Ship Date:
['11/11/2016' '6/16/2016' '10/18/2015' ... '5/23/2015' '1/23/2014'
 '3/3/2017']

Ship Mode:
['Second Class' 'Standard Class' 'First Class' 'Same Day']

Customer ID:
['CG-12520' 'DV-13045' 'SO-20335' 'BH-11710' 'AA-10480' 'IM-15070'
 'HP-14815' 'PK-19075' 'AG-10270' 'ZD-21925' 'KB-16585' 'SF-20065'
 'EB-13870' 'EH-13945' 'TB-21520' 'MA-17560' 'GH-14485' 'SN-20710'
 'LC-16930' 'RA-19885' 'ES-14080' 'ON-18715' 'PO-18865' 'LH-16900'
 'DP-13000' 'JM-15265' 'TB-21055' 'KM-16720' 'PS-18970' 'BS-11590'
 'KD-16270' 'HM-14980' 'JE-15745' 'KB-16600' 'SC-20770' 'DN-13690'
 'JC-16105' 'CS-12400' 'PG-18895' 'GM-14455' 'JS-15685' 'KB-16315'
 'RB-19705' 'PN-18775' 'KD-16345' 'ER-13855' 'RB-19465' 'GZ-14470'
 'LC-16870' 'JM-15250' 'PA-19060' 'CV-12805' 'CL-12565' 'RC-19960'
 'DK-13090' 'GG-14650' 'SC-20725' 'AD-10180' 'PF-19165' 'TS-21610'
 'LS-16975' 'DW-13585' 'LC-16885' 'JD-15895' 'SH-19975' 'SG-20080'
 'HA-14920' 'MG-17680' 'JE-16165' 'TW-21025' 'SP-20650' 'NK-18490'
 'DB-13060' 'NP-18670' 'TT-21070' 'EM-13960' 'RD-19900' 'MJ-17740'
 'BM-11140' 'CS-12130' 'JB-15400' 'SJ-20500' 'JK-15640' 'DK-13150'
 'RM-19675' 'SK-19990' 'FM-14290' 'AM-10360' 'MP-17470' 'MZ-17515'
 'CB-12025' 'VM-21685' 'FH-14365' 'MB-17305' 'BS-11755' 'LC-17140'
 'HK-14890' 'LE-16810' 'JH-15985' 'MS-17980' 'VW-21775' 'JH-15910'
 'JB-15925' 'DS-13180' 'VD-21670' 'EA-14035' 'DB-13120' 'KL-16645'
 'DW-13480' 'LH-17155' 'KC-16540' 'DL-13315' 'DR-12880' 'CC-12670'
 'Dl-13600' 'SB-20290' 'RC-19825' 'AH-10210' 'CB-12535' 'CA-12310'
 'KH-16690' 'BB-10990' 'AG-10495' 'JO-15280' 'AH-10195' 'NZ-18565'
 'KL-16555' 'AS-10225' 'CR-12625' 'SH-20395' 'BP-11185' 'TS-21205'
 'AG-10525' 'SP-20860' 'NM-18445' 'FA-14230' 'GK-14620' 'DJ-13510'
 'PO-18850' 'JL-15850' 'DB-13615' 'AC-10420' 'CC-12550' 'TD-20995'
 'AB-10060' 'JL-15505' 'VB-21745' 'KW-16435' 'JD-16060' 'MK-17905'
 'GT-14755' 'AG-10900' 'MM-18280' 'AR-10405' 'RA-19915' 'AS-10285'
 'LA-16780' 'DO-13435' 'DK-13225' 'NG-18430' 'MV-18190' 'JG-15115'
 'BP-11095' 'VP-21730' 'SS-20140' 'AG-10675' 'LF-17185' 'RF-19840'
 'KH-16510' 'KC-16675' 'CJ-12010' 'PB-19150' 'MP-17965' 'NF-18385'
 'SD-20485' 'KH-16630' 'RB-19795' 'MK-18160' 'PO-19180' 'BB-11545'
 'TB-21595' 'RB-19360' 'EB-13705' 'SC-20095' 'TN-21040' 'JS-15940'
 'MH-17785' 'JP-15520' 'JE-15475' 'JG-15805' 'XP-21865' 'EM-14065'
 'MT-18070' 'SA-20830' 'CW-11905' 'AJ-10960' 'SS-20590' 'RO-19780'
 'MD-17350' 'MY-17380' 'CM-12385' 'LS-17245' 'BN-11515' 'DB-13210'
 'MC-17605' 'BD-11605' 'PH-18790' 'MG-18145' 'KB-16240' 'JC-15340'
 'RL-19615' 'AA-10375' 'EP-13915' 'DK-12985' 'BD-11500' 'LM-17065'
 'AS-10135' 'BD-11320' 'GT-14710' 'AJ-10945' 'OT-18730' 'LP-17080'
 'CA-12775' 'JF-15490' 'FP-14320' 'EB-13840' 'JF-15415' 'SF-20200'
 'TG-21640' 'CS-11950' 'CC-12145' 'DV-13465' 'BD-11725' 'ZC-21910'
 'MS-17830' 'LR-16915' 'TP-21130' 'CK-12205' 'AS-10240' 'AR-10510'
 'NB-18655' 'GD-14590' 'CK-12595' 'NG-18355' 'CA-12265' 'SF-20965'
 'MO-17800' 'AT-10735' 'FM-14380' 'DJ-13420' 'ME-17725' 'JD-16150'
 'JL-15835' 'SC-20305' 'CC-12430' 'AR-10825' 'SR-20740' 'CR-12730'
 'EH-14125' 'SP-20545' 'TH-21235' 'RP-19390' 'RB-19570' 'CD-11980'
 'DJ-13630' 'GT-14635' 'MC-17845' 'RA-19285' 'NP-18325' 'AB-10165'
 'JO-15550' 'JK-15370' 'BN-11470' 'DP-13165' 'TH-21550' 'AP-10915'
 'RS-19765' 'SV-20365' 'CK-12325' 'RD-19810' 'MR-17545' 'SC-20695'
 'JF-15355' 'EG-13900' 'DS-13030' 'PO-19195' 'SS-20875' 'PB-19105'
 'RF-19735' 'YC-21895' 'DC-13285' 'CP-12340' 'BF-11020' 'LH-17020'
 'CS-12250' 'AJ-10795' 'BV-11245' 'DL-12865' 'BM-11785' 'LT-17110'
 'JK-15730' 'ES-14020' 'RH-19495' 'CD-11920' 'HW-14935' 'MC-18130'
 'GM-14440' 'PJ-19015' 'BW-11110' 'TR-21325' 'PG-18820' 'JL-15175'
 'BM-11650' 'EM-14095' 'AF-10885' 'GA-14725' 'CK-12760' 'DP-13105'
 'BK-11260' 'SJ-20125' 'CM-12445' 'AJ-10780' 'LS-16945' 'GP-14740'
 'PK-18910' 'SM-20005' 'AG-10765' 'PM-19135' 'LL-16840' 'JS-15595'
 'EL-13735' 'PC-18745' 'HL-15040' 'MS-17365' 'GB-14530' 'JR-16210'
 'BE-11335' 'SC-20050' 'RW-19630' 'SE-20110' 'AH-10075' 'JM-15535'
 'JJ-15760' 'RK-19300' 'CG-12040' 'RP-19270' 'KC-16255' 'KH-16360'
 'GH-14665' 'SW-20275' 'JA-15970' 'DL-12925' 'LW-16990' 'TB-21190'
 'BS-11800' 'RW-19690' 'TZ-21580' 'AS-10630' 'TS-21340' 'SL-20155'
 'MW-18235' 'RD-19585' 'RA-19945' 'MT-17815' 'VG-21790' 'JS-15880'
 'KM-16225' 'HR-14770' 'DE-13255' 'AG-10390' 'JJ-15445' 'JH-15430'
 'RD-19660' 'MO-17500' 'NS-18640' 'DG-13300' 'NF-18595' 'MG-17650'
 'TS-21160' 'BD-11620' 'CM-12160' 'SN-20560' 'EH-14005' 'FO-14305'
 'MS-17710' 'CC-12100' 'DW-13540' 'BT-11395' 'CY-12745' 'BT-11485'
 'PS-19045' 'PV-18985' 'NM-18520' 'DL-13495' 'CS-12355' 'FH-14275'
 'NC-18340' 'AA-10315' 'LT-16765' 'AP-10720' 'PM-18940' 'AT-10435'
 'CA-12055' 'HR-14830' 'BT-11530' 'LH-16750' 'SW-20755' 'SP-20620'
 'BF-11170' 'KT-16480' 'BG-11695' 'GM-14680' 'EJ-14155' 'NP-18700'
 'MH-18115' 'JR-15700' 'SM-20950' 'CC-12220' 'PF-19225' 'DC-12850'
 'BD-11770' 'GM-14500' 'TB-21355' 'JH-16180' 'EB-13975' 'QJ-19255'
 'TC-21535' 'CS-12460' 'HG-14965' 'LW-16825' 'MC-17575' 'LP-17095'
 'EB-14170' 'GZ-14545' 'CP-12085' 'FG-14260' 'LD-17005' 'AB-10255'
 'MN-17935' 'JR-15670' 'JF-15190' 'CM-12115' 'AS-10045' 'BP-11290'
 'ND-18370' 'LB-16735' 'KT-16465' 'HM-14860' 'AB-10600' 'SZ-20035'
 'MG-17890' 'JK-16120' 'PP-18955' 'YS-21880' 'KM-16375' 'AB-10105'
 'HA-14905' 'BT-11305' 'SV-20815' 'RW-19540' 'DK-12835' 'ST-20530'
 'MM-17920' 'PW-19030' 'SC-20440' 'TS-21085' 'MC-17425' 'ME-17320'
 'NH-18610' 'MB-18085' 'KD-16495' 'KN-16390' 'NP-18685' 'CS-12505'
 'MS-17770' 'CM-12655' 'Co-12640' 'TS-21370' 'JW-15220' 'JD-15790'
 'PC-19000' 'AR-10540' 'AI-10855' 'TB-21400' 'PL-18925' 'GH-14425'
 'MP-18175' 'JM-15655' 'CL-11890' 'DB-13270' 'IG-15085' 'BO-11425'
 'AB-10150' 'JW-16075' 'EB-13750' 'SG-20470' 'CM-12190' 'AW-10840'
 'MC-18100' 'TT-21460' 'VG-21805' 'MY-18295' 'RD-19480' 'DP-13390'
 'ML-17395' 'JC-15385' 'JG-15160' 'MC-17275' 'NW-18400' 'TB-21280'
 'BS-11380' 'HH-15010' 'CD-12280' 'TH-21100' 'MM-18055' 'NS-18505'
 'RB-19645' 'SW-20455' 'EB-13930' 'PS-18760' 'HF-14995' 'HZ-14950'
 'CD-12790' 'JK-15205' 'FM-14215' 'ED-13885' 'DA-13450' 'JW-15955'
 'RM-19375' 'ML-17755' 'CC-12685' 'JE-15610' 'RP-19855' 'TB-21175'
 'BE-11455' 'JF-15565' 'PB-19210' 'BT-11680' 'JL-15235' 'CH-12070'
 'ND-18460' 'BF-10975' 'KH-16330' 'GW-14605' 'NC-18625' 'ME-18010'
 'BP-11230' 'JC-15775' 'AS-10090' 'AC-10450' 'MD-17860' 'DB-13660'
 'EH-13990' 'EH-13765' 'SC-20230' 'JE-15715' 'AC-10615' 'JD-16015'
 'CB-12415' 'JS-16030' 'LW-17215' 'SC-20800' 'AM-10705' 'RH-19510'
 'CT-11995' 'MC-17590' 'CC-12610' 'KA-16525' 'TC-20980' 'BF-11080'
 'MM-17260' 'AH-10120' 'BW-11200' 'SW-20245' 'BS-11665' 'RF-19345'
 'WB-21850' 'TB-21625' 'AF-10870' 'RB-19435' 'KF-16285' 'JH-15820'
 'IL-15100' 'PB-18805' 'RH-19600' 'AW-10930' 'ML-17410' 'DB-13555'
 'MH-17620' 'DK-13375' 'BT-11440' 'DB-13405' 'TG-21310' 'BF-11005'
 'JM-16195' 'MZ-17335' 'MW-18220' 'MV-17485' 'SM-20320' 'TP-21415'
 'JK-15625' 'PJ-18835' 'RS-19420' 'SV-20935' 'BC-11125' 'EM-13825'
 'BM-11575' 'KN-16705' 'KW-16570' 'SC-20260' 'CV-12295' 'SG-20605'
 'TM-21010' 'EM-13810' 'ML-18040' 'CR-12580' 'AZ-10750' 'PW-19240'
 'SC-20380' 'CM-11935' 'GM-14695' 'TB-21250' 'JM-15865' 'SC-20575'
 'LS-17200' 'RR-19315' 'DB-12910' 'TT-21220' 'LO-17170' 'KD-16615'
 'NB-18580' 'BD-11635' 'CM-12235' 'EN-13780' 'KN-16450' 'BO-11350'
 'AG-10300' 'MC-17635' 'TA-21385' 'JF-15295' 'TT-21265' 'SB-20170'
 'CL-12700' 'HG-15025' 'NL-18310' 'RR-19525' 'TC-21295' 'SV-20785'
 'BE-11410' 'SC-20680' 'DF-13135' 'FH-14350' 'MS-17530' 'RH-19555'
 'GA-14515' 'JP-16135' 'Dp-13240' 'MO-17950' 'DL-13330' 'MH-18025'
 'DR-12940' 'DM-13015' 'CA-11965' 'AC-10660' 'DM-13345' 'VF-21715'
 'CC-12370' 'BF-11275' 'HG-14845' 'BP-11155' 'EM-14140' 'MA-17995'
 'AY-10555' 'GB-14575' 'JB-16045' 'MG-17875' 'SR-20425' 'JB-16000'
 'DM-12955' 'TC-21475' 'SW-20350' 'RE-19450' 'BF-11215' 'KB-16405'
 'JG-15310' 'EC-14050' 'EB-14110' 'JP-15460' 'CS-11845' 'GH-14410'
 'PT-19090' 'JL-15130' 'AH-10030' 'CC-12475' 'DW-13195' 'SJ-20215'
 'BG-11740' 'LB-16795' 'CM-11815' 'EH-14185' 'TS-21505' 'PR-18880'
 'LC-17050' 'CS-12490' 'DH-13075' 'JO-15145' 'AH-10690' 'HJ-14875'
 'MH-17455' 'RD-19930' 'SC-20020' 'SU-20665' 'FC-14335' 'RB-19330'
 'NC-18535' 'DB-12970' 'MF-17665' 'RM-19750' 'VM-21835' 'EJ-13720'
 'NC-18415' 'LS-17230' 'KE-16420' 'DH-13675' 'PF-19120' 'VT-21700'
 'MG-17695' 'SP-20920' 'CS-12175' 'DK-12895' 'KM-16660' 'AA-10645'
 'DD-13570' 'AH-10465' 'TP-21565' 'EK-13795' 'CR-12820' 'SG-20890'
 'AH-10585' 'NF-18475' 'BS-11365' 'SH-20635' 'RD-19720' 'AG-10330'
 'GR-14560' 'VS-21820' 'TM-21490' 'TS-21430' 'DB-13360' 'NR-18550'
 'CS-11860' 'MF-18250' 'LW-17125' 'AR-10345' 'KS-16300' 'AB-10015'
 'LR-17035' 'SS-20410' 'JM-15580' 'JK-15325' 'DM-13525' 'ML-18265'
 'MH-17290' 'FC-14245' 'TH-21115' 'JK-16090' 'SB-20185' 'BG-11035'
 'BW-11065' 'MG-18205' 'DO-13645' 'BP-11050' 'TS-21655' 'EM-14200'
 'AO-10810' 'MH-17440' 'SS-20515' 'LD-16855' 'VP-21760' 'TC-21145'
 'IM-15055' 'AR-10570' 'CM-12715' 'FW-14395' 'LC-16960' 'HE-14800'
 'BD-11560' 'HD-14785' 'CJ-11875' 'RS-19870' 'SC-20845' 'RE-19405'
 'SM-20905']

Customer Name:
['Claire Gute' 'Darrin Van Huff' "Sean O'Donnell" 'Brosina Hoffman'
 'Andrew Allen' 'Irene Maddox' 'Harold Pawlan' 'Pete Kriz'
 'Alejandro Grove' 'Zuschuss Donatelli' 'Ken Black' 'Sandra Flanagan'
 'Emily Burns' 'Eric Hoffmann' 'Tracy Blumstein' 'Matt Abelman'
 'Gene Hale' 'Steve Nguyen' 'Linda Cazamias' 'Ruben Ausman' 'Erin Smith'
 'Odella Nelson' "Patrick O'Donnell" 'Lena Hernandez' 'Darren Powers'
 'Janet Molinari' 'Ted Butterfield' 'Kunst Miller' 'Paul Stevenson'
 'Brendan Sweed' 'Karen Daniels' 'Henry MacAllister' 'Joel Eaton'
 'Ken Brennan' 'Stewart Carmichael' 'Duane Noonan' 'Julie Creighton'
 'Christopher Schild' 'Paul Gonzalez' 'Gary Mitchum' 'Jim Sink'
 'Karl Braun' 'Roger Barcio' 'Parhena Norris' 'Katherine Ducich'
 'Elpida Rittenbach' 'Rick Bensley' 'Gary Zandusky' 'Lena Cacioppo'
 'Janet Martin' 'Pete Armstrong' 'Cynthia Voltz' 'Clay Ludtke'
 'Ryan Crowe' 'Dave Kipp' 'Greg Guthrie' 'Steven Cartwright'
 'Alan Dominguez' 'Philip Fox' 'Troy Staebel' 'Lindsay Shagiari'
 'Dorothy Wardle' 'Lena Creighton' 'Jonathan Doherty' 'Sally Hughsby'
 'Sandra Glassco' 'Helen Andreada' 'Maureen Gastineau' 'Justin Ellison'
 'Tamara Willingham' 'Stephanie Phelps' 'Neil Knudson' 'Dave Brooks'
 'Nora Paige' 'Ted Trevino' 'Eric Murdock' 'Ruben Dartt' 'Max Jones'
 'Becky Martin' 'Chad Sievert' 'Jennifer Braxton' 'Shirley Jackson'
 'Jim Kriz' 'David Kendrick' 'Robert Marley' 'Sally Knutson'
 'Frank Merwin' 'Alice McCarthy' 'Mark Packer' 'Mary Zewe'
 'Cassandra Brandow' 'Valerie Mitchum' 'Fred Hopkins' 'Maria Bertelson'
 'Bruce Stewart' 'Logan Currie' 'Heather Kirkland' 'Laurel Elliston'
 'Joseph Holt' 'Michael Stewart' 'Victoria Wilson' 'Jonathan Howell'
 'Joni Blumstein' 'David Smith' 'Valerie Dominguez' 'Erin Ashbrook'
 'David Bremer' 'Ken Lonsdale' 'Dianna Wilson' 'Logan Haushalter'
 'Kelly Collister' 'Delfina Latchford' 'Dan Reichenbach' 'Craig Carreira'
 'Dorris liebe' 'Sean Braxton' 'Roy Collins' 'Alan Hwang'
 'Claudia Bergmann' 'Christine Abelman' 'Kristen Hastings'
 'Barry Blumstein' 'Andrew Gjertsen' "Jas O'Carroll" 'Alan Haines'
 'Nick Zandusky' 'Kelly Lampkin' 'Alan Schoenberger' 'Corey Roper'
 'Shahid Hopkins' 'Ben Peterman' 'Thomas Seio' 'Andy Gerbode' 'Sung Pak'
 'Nathan Mautz' 'Frank Atkinson' 'Grace Kelly' 'Don Jones'
 "Patrick O'Brill" 'John Lucas' 'Doug Bickford' 'Alyssa Crouse'
 'Clay Cheatham' 'Tamara Dahlen' 'Adam Bellavance' 'Jeremy Lonsdale'
 'Victoria Brennan' 'Katrina Willman' 'Julia Dunbar' 'Michael Kennedy'
 'Guy Thornton' 'Arthur Gainer' 'Muhammed MacIntyre' 'Allen Rosenblatt'
 'Russell Applegate' 'Alejandro Savely' 'Laura Armstrong' 'Denny Ordway'
 'Dean Katz' 'Nathan Gelder' 'Mike Vittorini' 'Jack Garza' 'Bart Pistole'
 'Victor Preis' 'Saphhira Shifley' 'Anna Gayman' 'Luke Foster'
 'Roy Französisch' 'Keith Herrera' 'Kimberly Carter' 'Caroline Jumper'
 'Philip Brown' 'Michael Paige' 'Natalie Fritzler' 'Shirley Daniels'
 'Ken Heidel' 'Ross Baird' 'Mike Kennedy' 'Philisse Overcash'
 'Brenda Bowman' 'Troy Blackwell' 'Raymond Buch' 'Ed Braxton'
 'Sanjit Chand' 'Tanja Norvell' 'Joni Sundaresam' 'Maya Herman'
 'Jeremy Pistek' 'Jeremy Ellison' 'John Grady' 'Xylona Preis' 'Erin Mull'
 'Michelle Tran' 'Sue Ann Reed' 'Carl Weiss' 'Astrea Jones' 'Sonia Sunley'
 "Rose O'Brian" 'Maribeth Dona' 'Maribeth Yedwab' 'Christopher Martinez'
 'Lynn Smith' 'Bradley Nguyen' 'Dean Braden' 'Matt Connell' 'Brian Dahlen'
 'Patricia Hirasaki' 'Mike Gockenbach' 'Karen Bern' 'Jasper Cacioppo'
 'Rob Lucas' 'Allen Armold' 'Emily Phan' 'Darren Koutras'
 'Bradley Drucker' 'Liz MacKendrick' 'Adrian Shami' 'Bill Donatelli'
 'Greg Tran' 'Ashley Jarboe' 'Olvera Toch' 'Liz Pelletier'
 'Cynthia Arntzen' 'Jeremy Farry' 'Frank Preis' 'Ellis Ballard'
 'Jennifer Ferguson' 'Sarah Foster' 'Trudy Glocke' 'Carlos Soltero'
 'Charles Crestani' 'Dianna Vittorini' 'Bruce Degenhardt'
 'Zuschuss Carroll' 'Melanie Seite' 'Lena Radford' 'Theone Pippenger'
 'Chloris Kastensmidt' 'Alan Shonely' 'Andrew Roberts' 'Nona Balk'
 'Giulietta Dortch' 'Clytie Kelty' 'Nat Gilpin' 'Christina Anderson'
 'Sylvia Foulston' "Meg O'Connel" 'Annie Thurman' 'Fred McMath'
 'Denny Joy' 'Max Engle' 'Justin Deggeller' 'John Lee' 'Sean Christensen'
 'Chuck Clark' 'Anthony Rawles' 'Steven Roelle' 'Craig Reiter'
 'Eugene Hildebrand' 'Sibella Parks' 'Tiffany House' 'Resi Pölking'
 'Rob Beeghly' 'Carol Darley' 'Doug Jacobs' 'Grant Thornton'
 'Michael Chen' 'Ralph Arnett' 'Naresj Patel' 'Alan Barnes' 'Jesus Ocampo'
 'Jay Kimmel' 'Brad Norvell' 'David Philippe' 'Tracy Hopkins'
 'Arthur Prichep' 'Roland Schwarz' 'Seth Vernon' 'Christine Kargatis'
 'Ross DeVincentis' 'Mathew Reese' 'Steve Chapman' 'Jay Fein'
 'Emily Grady' 'Darrin Sayre' 'Phillina Ober' 'Sung Shariari'
 'Peter Bühler' 'Roland Fjeld' 'Yoseph Carroll' 'Debra Catini'
 'Christine Phan' 'Barry Französisch' 'Lisa Hazard' 'Chris Selesnick'
 'Anthony Johnson' 'Benjamin Venier' 'Dan Lawera' 'Bryan Mills'
 'Liz Thompson' 'Joe Kamberova' 'Erica Smith' 'Rick Hansen' 'Carlos Daly'
 'Helen Wasserman' 'Mike Caudle' 'Gary McGarr' 'Pauline Johnson'
 'Bart Watters' 'Toby Ritter' 'Patrick Gardner' 'James Lanier'
 'Brian Moss' 'Eudokia Martin' 'Art Foster' 'Guy Armstrong' 'Cyma Kinney'
 'Dave Poirier' 'Berenike Kampe' 'Sanjit Jacobs' 'Chuck Magee'
 'Anthony Jacobs' 'Linda Southworth' 'Guy Phonely' 'Paul Knutson'
 'Sally Matthias' 'Anthony Garverick' 'Peter McVee' 'Lauren Leatherbury'
 'Jill Stevenson' 'Ed Ludwig' 'Pamela Coakley' 'Hunter Lopez'
 'Maribeth Schnelling' 'George Bell' 'Justin Ritter' 'Bill Eplett'
 'Sample Company A' 'Rob Williams' 'Sanjit Engle' 'Adam Hart'
 'Jessica Myrick' 'Joel Jenkins' 'Ralph Kennedy' 'Catherine Glotzbach'
 'Rachel Payne' 'Karen Carlisle' 'Katherine Hughes' 'Greg Hansen'
 'Scott Williamson' 'Joseph Airdo' 'Daniel Lacy' 'Lindsay Williams'
 'Thomas Brumley' 'Bryan Spruell' 'Robert Waldorf' 'Tracy Zic'
 'Ann Steele' 'Toby Swindell' 'Sara Luxemburg' 'Mitch Willingham'
 'Rob Dowd' 'Ryan Akin' 'Meg Tillman' 'Vivek Gonzalez' 'John Stevenson'
 'Kalyca Meade' 'Hallie Redmond' 'Deanra Eno' 'Allen Goldenen'
 'Jennifer Jackson' 'Jennifer Halladay' 'Robert Dilbeck' "Mary O'Rourke"
 'Noel Staavos' 'Deirdre Greer' 'Nicole Fjeld' 'Matthew Grinstein'
 'Theresa Swint' 'Brian DeCherney' 'Charles McCrossin' 'Skye Norling'
 'Erica Hernandez' 'Frank Olsen' 'Maurice Satty' 'Chad Cunningham'
 'Don Weiss' 'Bill Tyler' 'Craig Yedwab' 'Brad Thomas' 'Penelope Sewall'
 'Paul Van Hugh' 'Neoma Murray' 'Dionis Lloyd' 'Christine Sundaresam'
 'Frank Hawley' 'Nat Carroll' 'Alex Avila' 'Larry Tron' 'Anne Pryor'
 'Paul MacIntyre' 'Alyssa Tate' 'Cathy Armstrong' 'Harold Ryan'
 'Bradley Talbott' 'Larry Hughes' 'Steven Ward' 'Stefania Perrino'
 'Ben Ferrer' 'Kean Thornton' 'Brooke Gillingham' 'Greg Matthias'
 'Eva Jacobs' 'Nora Preis' 'Mick Hernandez' 'Jocasta Rupert'
 'Suzanne McNair' 'Chris Cortes' 'Phillip Flathmann' 'Dan Campbell'
 'Bryan Davis' 'Gene McClure' 'Todd Boyes' 'Justin Hirsh' 'Erica Bern'
 'Quincy Jones' 'Tracy Collins' 'Chuck Sachs' 'Henry Goldwyn'
 'Laurel Workman' 'Matt Collins' 'Liz Preis' 'Evan Bailliet'
 'George Zrebassa' 'Cathy Prescott' 'Frank Gastineau' 'Lisa DeCherney'
 'Alejandro Ballentine' 'Michael Nguyen' 'Jim Radford' 'Jamie Frazer'
 'Chad McGuire' 'Aaron Smayling' 'Beth Paige' 'Natalie DeCherney'
 'Larry Blacks' 'Kean Takahito' 'Harry Marie' 'Ann Blume' 'Sam Zeldin'
 'Michael Granlund' 'Julie Kriz' 'Paul Prost' 'Yana Sorensen'
 'Katherine Murray' 'Adrian Barton' 'Helen Abelman' 'Beth Thompson'
 'Stuart Van' 'Rick Wilson' 'Damala Kotsonis' 'Shui Tom' 'Michael Moore'
 'Pauline Webber' 'Shaun Chance' 'Thais Sissman' 'Mark Cousins'
 'Maria Etezadi' 'Nicole Hansen' 'Mick Brown' 'Keith Dawkins'
 'Katherine Nockton' 'Nora Pelletier' 'Cindy Stewart' 'Maxwell Schwartz'
 'Corinna Mitchell' 'Corey-Lock' 'Todd Sumrall' 'Jane Waco' 'John Dryer'
 'Pauline Chand' 'Andy Reiter' 'Arianne Irving' 'Tom Boeckenhauer'
 'Paul Lucas' 'Gary Hwang' 'Mike Pelletier' 'Jim Mitchum' 'Carl Ludwig'
 'Deborah Brumfield' 'Ivan Gibson' 'Bobby Odegard' 'Aimee Bixby'
 'Julia West' 'Edward Becker' 'Sheri Gordon' 'Charlotte Melton'
 'Anthony Witt' 'Mick Crebagga' 'Tonja Turnell' 'Vivek Grady'
 'Muhammed Yedwab' 'Rick Duston' 'Dennis Pardue' 'Marina Lichtenstein'
 'Jenna Caffey' 'James Galang' 'Marc Crier' 'Natalie Webber'
 'Toby Braunhardt' 'Bill Stewart' 'Hilary Holden' 'Christina DeMoss'
 'Thea Hendricks' 'Michelle Moray' 'Neola Schneider' 'Robert Barroso'
 'Shaun Weien' 'Eric Barreto' 'Pamela Stobb' 'Herbert Flentye'
 'Henia Zydlo' 'Cynthia Delaney' 'Jamie Kunitz' 'Filia McAdams'
 'Emily Ducich' 'Dianna Arnett' 'Joni Wasserman' 'Raymond Messe'
 'Max Ludwig' 'Craig Carroll' 'Jim Epp' 'Roy Phan' 'Thomas Boland'
 'Brad Eason' 'Jill Fjeld' 'Phillip Breyer' 'Brian Thompson' 'Janet Lee'
 'Cathy Hwang' 'Neil Ducich' 'Barbara Fisher' 'Katharine Harms'
 'Giulietta Weimer' 'Noah Childs' 'Michelle Ellison' 'Benjamin Patterson'
 'John Castell' 'Adam Shillingsburg' 'Amy Cox' 'Michael Dominguez'
 'Duane Benoit' 'Erica Hackney' 'Edward Hooks' 'Scot Coram' 'Joe Elijah'
 'Ann Chong' 'Joy Daniels' 'Christy Brittain' 'Joy Smith' 'Luke Weiss'
 'Stuart Calhoun' 'Anne McFarland' 'Rick Huthwaite' 'Carol Triggs'
 'Matt Collister' 'Corey Catlett' 'Kelly Andreada' 'Tamara Chand'
 'Bart Folk' 'Magdelene Morse' 'Adrian Hane' 'Ben Wallace' 'Scot Wooten'
 'Brian Stugart' 'Randy Ferguson' 'William Brown' 'Trudy Brown'
 'Art Ferguson' 'Richard Bierner' 'Karen Ferguson' 'John Huston'
 'Ivan Liston' 'Patrick Bzostek' 'Rob Haberlin' 'Arthur Wiediger'
 'Maris LaWare' 'Dorothy Badders' 'Matt Hagelstein' 'Dennis Kane'
 'Bobby Trafton' 'Denny Blanton' 'Toby Gnade' 'Barry Franz'
 'Justin MacKendrick' 'Maria Zettner' 'Mitch Webber' 'Mark Van Huff'
 'Sean Miller' 'Tom Prescott' 'Jim Karlsson' 'Patrick Jones'
 'Ricardo Sperren' 'Susan Vittorini' 'Becky Castell' 'Elizabeth Moffitt'
 'Brendan Murry' 'Kristina Nunn' 'Kelly Williams' 'Scott Cohen'
 'Christina VanderZanden' 'Speros Goranitis' 'Tamara Manning'
 'Eleni McCrary' 'Michelle Lonsdale' 'Clay Rozendal' 'Annie Zypern'
 'Pierre Wener' 'Shahid Collister' 'Carlos Meador' 'Greg Maxwell'
 'Tim Brockman' 'John Murray' 'Sonia Cooley' 'Luke Schmidt' 'Ralph Ritter'
 'Daniel Byrd' 'Thomas Thornton' 'Lori Olson' 'Ken Dana' 'Nicole Brennan'
 'Brian Derr' 'Chris McAfee' 'Edward Nazzal' 'Kean Nguyen' 'Bill Overfelt'
 'Aleksandra Gannaway' 'Matthew Clasen' 'Tom Ashbrook' 'Jason Fortune-'
 'Tim Taslimi' 'Sarah Bern' 'Craig Leslie' 'Hunter Glantz'
 'Nancy Lomonaco' 'Rick Reed' 'Toby Carlisle' 'Stewart Visinsky'
 'Bobby Elias' 'Steve Carroll' 'David Flashing' 'Fred Harton'
 'MaryBeth Skach' 'Ritsa Hightower' 'George Ashbrook' 'Julie Prescott'
 'Dean percer' 'Michael Oakman' 'Denise Leinenbach' 'Michelle Huthwaite'

In [9]:
verif=cl.verifystring (df,'Order Date')

All values are strings

In [10]:
df1=cl.cleaning(df)
df1.sample()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
4785,CA-2015-104346,12/11/2015,12/16/2015,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Colorado Springs,Colorado,80906,West,FUR-BO-10003450,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Dark Cher...",69.576,4,0.7,-143.7904

In [12]:
df2=cl.round_numerical (df1, ['Sales','Profit'])
df2.sample()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
6727,CA-2017-145443,8/10/2017,8/15/2017,Second Class,SC-20695,Steve Chapman,Corporate,United States,Richmond,Indiana,47374,Central,OFF-PA-10003302,Office Supplies,Paper,Xerox 1906,177.2,5,0.0,83.28

In [14]:
df3=cl.convert_to_datetime(df2,'Order Date')
df3.sample()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
8034,CA-2015-119690,2015-06-25,6/28/2015,First Class,MV-17485,Mark Van Huff,Consumer,United States,Houston,Texas,77041,Central,FUR-FU-10004587,Furniture,Furnishings,"GE General Use Halogen Bulbs, 100 Watts, 1 Bul...",75.38,9,0.6,-20.73

In [15]:
df4=ts.extract_date_parts(df3,['Order Date', 'Ship Date'])
df4

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Sales,Quantity,Discount,Profit,Order Date_Year,Order Date_Month,Order Date_Day,Ship Date_Year,Ship Date_Month,Ship Date_Day
0,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,261.96,2,0.00,41.91,2016,11,8,2016,11,11
1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,731.94,3,0.00,219.58,2016,11,8,2016,11,11
2,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,14.62,2,0.00,6.87,2016,6,12,2016,6,16
3,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,957.58,5,0.45,-383.03,2015,10,11,2015,10,18
4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,22.37,2,0.20,2.52,2015,10,11,2015,10,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2014-01-21,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,...,25.25,3,0.20,4.10,2014,1,21,2014,1,23
9990,CA-2017-121258,2017-02-26,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,91.96,2,0.00,15.63,2017,2,26,2017,3,3
9991,CA-2017-121258,2017-02-26,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,258.58,2,0.20,19.39,2017,2,26,2017,3,3
9992,CA-2017-121258,2017-02-26,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,29.60,4,0.00,13.32,2017,2,26,2017,3,3
9993,CA-2017-119914,2017-05-04,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,...,243.16,2,0.00,72.95,2017,5,4,2017,5,9

In [17]:
def extract_date_parts(df,columns):
    for column in columns:
        df[column + '_Year'] = pd.to_datetime(df[column], format='%m/%d/%Y').dt.year
        df[column + '_Month'] = pd.to_datetime(df[column], format='%m/%d/%Y').dt.month
        df[column + '_Day'] = pd.to_datetime(df[column], format='%m/%d/%Y').dt.day
    return df

In [18]:
df3 = ts.extract_date_parts(df4, ['Order Date', 'Ship Date'])
df3.sample()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Sales,Quantity,Discount,Profit,Order Date_Year,Order Date_Month,Order Date_Day,Ship Date_Year,Ship Date_Month,Ship Date_Day
1140,CA-2016-152170,2016-11-12,11/15/2016,Second Class,FH-14275,Frank Hawley,Corporate,United States,La Porte,Indiana,...,17.38,2,0.0,8.69,2016,11,12,2016,11,15

In [ ]:
df5=ts.extract_date_parts(df2,['Order Date', 'Ship Date'])
df5

In [ ]:
df5=ts.calc_rfm(df4)

In [40]:
def calc_rfm(df):
    recency = df.groupby('Customer ID')['Order Date'].max()
    recency = pd.to_datetime('2018-01-30') - recency
    frequency = df.groupby('Customer ID').size()
    monetary = df.groupby('Customer ID')['Sales'].sum()
    df_summary = pd.DataFrame({'Recency': recency, 'Frequency': frequency, 'Monetary': monetary}).reset_index()
    df = df.merge(df_summary, on='Customer ID', how='left')
    return df

In [84]:
df5=calc_rfm(df3)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Order Date_Year,Order Date_Month,Order Date_Day,Ship Date_Year,Ship Date_Month,Ship Date_Day,Segments,Recency,Frequency,Monetary
0,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,2016,11,8,2016,11,11,Other,369 days,5,1148.78
1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,2016,11,8,2016,11,11,Other,369 days,5,1148.78
2,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,2016,6,12,2016,6,16,Other,50 days,9,1119.48
3,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,2015,10,11,2015,10,18,Other,60 days,15,2602.58
4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,2015,10,11,2015,10,18,Other,60 days,15,2602.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2014-01-21,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,...,2014,1,21,2014,1,23,Other,233 days,17,9133.99
9990,CA-2017-121258,2017-02-26,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,2017,2,26,2017,3,3,Other,47 days,13,4531.65
9991,CA-2017-121258,2017-02-26,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,2017,2,26,2017,3,3,Other,47 days,13,4531.65
9992,CA-2017-121258,2017-02-26,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,2017,2,26,2017,3,3,Other,47 days,13,4531.65
9993,CA-2017-119914,2017-05-04,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,...,2017,5,4,2017,5,9,Other,51 days,22,3913.43

In [ ]:
df6=ts.normalization_rfm(df5)
df6

In [47]:
def normalization_rfm(df):
    recency = df['Recency'].dt.days 
    frequency = df['Frequency']
    monetary = df['Monetary']
    scaler = MinMaxScaler()
    recency_norm = scaler.fit_transform(np.array(recency).reshape(-1, 1))
    frequency_norm = scaler.fit_transform(np.array(frequency).reshape(-1, 1))
    monetary_norm = scaler.fit_transform(np.array(monetary).reshape(-1, 1))

    recency_norm = np.round(recency_norm, 2)
    frequency_norm = np.round(frequency_norm, 2)
    monetary_norm = np.round(monetary_norm, 2)

    df['Recency_Normalized'] = recency_norm
    df['Frequency_Normalized'] = frequency_norm
    df['Monetary_Normalized'] = monetary_norm
    return df

In [48]:
df6=normalization_rfm(df5)

In [49]:
print(df6.columns)

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit', 'Order Date_Year',
       'Order Date_Month', 'Order Date_Day', 'Ship Date_Year',
       'Ship Date_Month', 'Ship Date_Day', 'Recency', 'Frequency', 'Monetary',
       'Recency_Normalized', 'Frequency_Normalized', 'Monetary_Normalized'],
      dtype='object')

In [ ]:
df7=ts.scoring_rfm(df6)
df7

In [50]:
def scoring_rfm(df):
    df['RecencyScore'] = np.where(df['Recency_Normalized'] <= 0.2, 5,
                                   np.where(df['Recency_Normalized'] <= 0.4, 4,
                                            np.where(df['Recency_Normalized'] <= 0.6, 3,
                                                     np.where(df['Recency_Normalized'] <= 0.8, 2, 1))))

    df['FrequencyScore'] = np.where(df['Frequency_Normalized'] <= 0.2, 1,
                                     np.where(df['Frequency_Normalized'] <= 0.4, 2,
                                              np.where(df['Frequency_Normalized'] <= 0.6, 3,
                                                       np.where(df['Frequency_Normalized'] <= 0.8, 4, 5))))

    df['MonetaryScore'] = np.where(df['Monetary_Normalized'] <= 0.2, 1,
                                    np.where(df['Monetary_Normalized'] <= 0.4, 2,
                                             np.where(df['Monetary_Normalized'] <= 0.6, 3,
                                                      np.where(df['Monetary_Normalized'] <= 0.8, 4, 5))))
    return df

In [53]:
df7=scoring_rfm(df6)

In [ ]:
df8=ts.total_RFM(df7)
df8

In [55]:
def total_RFM(df):
    df['RFM Score'] = df['RecencyScore'].astype(str) + df['FrequencyScore'].astype(str) + df['MonetaryScore'].astype(str)
    return df

In [58]:
df8=total_RFM(df7)
df8.sample()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Recency,Frequency,Monetary,Recency_Normalized,Frequency_Normalized,Monetary_Normalized,RecencyScore,FrequencyScore,MonetaryScore,RFM Score
2424,US-2017-147669,2017-12-25,12/30/2017,Standard Class,SV-20935,Susan Vittorini,Consumer,United States,Fairfield,Ohio,...,33 days,13,1903.49,0.0,0.33,0.08,5,2,1,521

In [ ]:
df9=customer_segmentation(df8)
df9.sample()

In [59]:
def customer_segmentation(df):
    df3['Segments'] = 'Other'
    df.loc[df['RFM Score'].isin(['555', '554', '544', '545', '454', '455', '445']), 'Segments'] = 'Champions'
    df.loc[df['RFM Score'].isin(['543', '444', '435', '355', '354', '345', '344', '335']), 'Segments'] = 'Loyal customer'
    df.loc[df['RFM Score'].isin(['553', '551', '552', '541', '542', '533', '532', '531', '452', '451', '442', '441', '431', '453', '433', '432', '423', '353', '352', '351', '342', '341', '333', '323']), 'Segments'] = 'Potential Loyalist'
    df.loc[df['RFM Score'].isin(['512', '511', '422', '421', '412', '411', '311']), 'Segments'] = 'New Customers'
    df.loc[df['RFM Score'].isin(['525', '524', '523', '522', '521', '515', '514', '513', '425', '424', '413', '414', '415', '315', '314', '313']), 'Segments'] = 'Promising'
    df.loc[df['RFM Score'].isin(['535', '534', '443', '434', '343', '334', '325', '324']), 'Segments'] = 'Need Attention'
    df.loc[df['RFM Score'].isin(['155', '154', '144', '214', '215', '115', '114', '113']), 'Segments'] = 'Cannot Lose Them'
    df.loc[df['RFM Score'].isin(['331', '321', '312', '221', '213']), 'Segments'] = 'About to sleep'
    df.loc[df['RFM Score'].isin(['255', '254', '245', '244', '253', '252', '243', '242', '235', '234', '225', '224', '153', '152', '145', '143', '142', '135', '134', '133', '125', '124']), 'Segment'] = 'At risk'
    df.loc[df['RFM Score'].isin(['332', '322', '231', '241', '251', '233', '232', '223', '222', '132', '123', '122', '212', '211']), 'Segments'] = 'Hibernating'
    df.loc[df['RFM Score'].isin(['111', '112', '121', '131', '141', '151']), 'Segments'] = 'Lost'
    return df

In [62]:
df9=customer_segmentation(df8)
df9.sample()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Frequency,Monetary,Recency_Normalized,Frequency_Normalized,Monetary_Normalized,RecencyScore,FrequencyScore,MonetaryScore,RFM Score,Segments
9576,CA-2015-143147,2015-05-26,5/28/2015,Second Class,PS-18760,Pamela Stobb,Consumer,United States,San Antonio,Texas,...,21,2181.47,0.09,0.56,0.09,5,3,1,531,Potential Loyalist

In [ ]:
df10=st.profit_discount_corr(df9)
df10.sample()

In [147]:
import pandas as pd
filtered_data = df9[(df9['Segments'].isin(['New Customers', 'Potential Loyalist', 'Promising'])) &
                            (df9['Order Date'].dt.year == 2017)]
result = filtered_data.groupby(['Segments', filtered_data['Order Date'].dt.year, 'Category']).agg({
    'Profit': 'sum',
    'Sales': 'sum'
}).reset_index()
result = result.sort_values(by='Sales', ascending=False)
result

             Segments  Order Date         Category    Profit      Sales
8           Promising        2017       Technology  29896.27  138150.52
7           Promising        2017  Office Supplies  18349.50  110843.20
4  Potential Loyalist        2017  Office Supplies  14532.67  100892.54
6           Promising        2017        Furniture     64.13   99518.52
5  Potential Loyalist        2017       Technology  19552.94   99044.72
3  Potential Loyalist        2017        Furniture   1844.37   91405.44
2       New Customers        2017       Technology   1233.24   34505.56
1       New Customers        2017  Office Supplies   6592.24   33506.07
0       New Customers        2017        Furniture    599.06   21757.91

In [ ]:
df11=st.linear_regression_analysis(df10)
df11.sample()

In [63]:
from sklearn.linear_model import LinearRegression
import pandas as pd

regression_model = LinearRegression()
X = df9[['Sales', 'Discount']]
y = df9['Profit']
regression_model.fit(X, y)
coefficients = regression_model.coef_
intercept = regression_model.intercept_
print("Coeficients:", coefficients)
print("Intersection:", intercept)

Coeficients: [ 1.77882484e-01 -2.33913301e+02]
Intersection: 24.307033886468737

The coefficient of the "sales" variable is approximately 0.178. This indicates that, on average, a one-unit increase in sales is associated with a 0.178 unit increase in profit. Since the coefficient is positive, we can say that there is a positive relationship between sales and profit. However, keep in mind that this coefficient is on a relative scale and should be interpreted considering the scale and units of the variables involved.
The coefficient of the "discount" variable is approximately -233.913. This suggests that, on average, a one-unit increase in discount is associated with a 233.913 unit decrease in profit. Since the coefficient is negative, it indicates a negative relationship between discount and profit. In other words, as the discount increases, a decrease in profit is expected.

Intercept:

The intercept value is approximately 24.307. This represents the expected value of profit when both sales and discount are equal to zero. In other words, if there are no sales or discount, a profit of around 24.307 units is expected.

In [156]:
correlation = result['Profit'].corr(result['Sales'])
correlation

0.7181480828570523

In [ ]:
df12=vs.heatmap_profitability(df11)
df12.sample()

In [20]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
df_grouped = df9.groupby(['Segments', 'Category'])['Profit'].sum().reset_index()
pivot_table = df_grouped.pivot(index='Segments', columns='Category', values='Profit')
normalized_pivot = (pivot_table - pivot_table.min().min()) / (pivot_table.max().max() - pivot_table.min().min())
plt.figure(figsize=(10, 6))
sns.heatmap(normalized_pivot, annot=True, cmap='YlGnBu', vmin=0, vmax=1)
plt.title('Profitability per segment and Category')
plt.xlabel('Category')
plt.ylabel('Segment')
plt.savefig('fig/heatmap_profitability.png')
plt.show()

NameError: name 'df9' is not defined

In [64]:
def to_csv(df, file_path):
    df.to_csv(file_path, index=False)

In [66]:
to_csv(df9, 'dataset/df_cleanedok.csv')

In [67]:
def to_xlsx(df, file_path):
    df.to_excel(file_path, index=False)

In [68]:
to_xlsx(df9,'dataset/dfcleaned_ok.xlsx')

In [20]:
#def connection_sql (password,dbname):
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    return engine

IndentationError: unexpected indent (3275296956.py, line 2)

In [21]:
#df2.to_sql('df_cleaned1', con=engine, if_exists='replace', index=False)

In [22]:
#df = pd.read_sql_query("SELECT * FROM df_cleaned2;", engine)

In [23]:
#engine = connection_sql(password, "superstore")

In [71]:
import sqlalchemy as alch
from getpass import getpass
password = getpass("Please input your password: ")

dbName = "market1"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

engine = alch.create_engine(connectionData)

df9.to_sql('df_cleanedok', con=engine, if_exists='replace', index=False)

Please input your password: ········

C:\Users\Leticia Martinez\AppData\Local\Temp\ipykernel_16412\962467875.py:10: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  df9.to_sql('df_cleanedok', con=engine, if_exists='replace', index=False)

9994

In [ ]:
#password=getpass()

In [72]:
query="SELECT * FROM df_cleanedok;"
df10 = pd.read_sql(query, engine)
df10.sample()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Frequency,Monetary,Recency_Normalized,Frequency_Normalized,Monetary_Normalized,RecencyScore,FrequencyScore,MonetaryScore,RFM Score,Segments
8847,CA-2017-156664,2017-12-18,12/23/2017,Standard Class,BP-11290,Beth Paige,Consumer,United States,Columbus,Ohio,...,16,2475.16,0.01,0.42,0.1,5,3,1,531,Potential Loyalist

# RFM Analysis

RFM stands for Recency, Frequency, and Monetary value, each corresponding to some key customer trait. These RFM metrics are important indicators of a customer’s behavior because frequency and monetary value affects a customer’s lifetime value, and recency affects retention, a measure of engagement.

RFM factors illustrate these facts:

- The more recent the purchase, the more responsive the customer is to promotions
- The more frequently the customer buys, the more engaged and satisfied they are
- Monetary value differentiates heavy spenders from low-value purchasers

In [73]:
query='''
    SHOW COLUMNS FROM df_cleanedok LIKE 'Order Date';
'''
pd.read_sql_query (query, engine)

        Field      Type Null Key Default Extra
0  Order Date  datetime  YES        None

In [75]:
query = '''
    SELECT YEAR(`Order Date`) AS Year, Category, SUM(Sales) AS TotalSold, SUM(Quantity) as TotalQuantity
    FROM df_cleanedok
    GROUP BY Category, YEAR(`Order Date`)
    ORDER BY Year DESC;
'''
pd.read_sql_query (query, engine)

    Year         Category  TotalSold  TotalQuantity
0   2017  Office Supplies  246097.08         7676.0
1   2017        Furniture  215387.18         2437.0
2   2017       Technology  271730.79         2363.0
3   2016        Furniture  198901.47         2193.0
4   2016  Office Supplies  183940.05         5946.0
5   2016       Technology  226364.22         1698.0
6   2015        Furniture  170518.22         1775.0
7   2015  Office Supplies  137233.40         4715.0
8   2015       Technology  162780.77         1489.0
9   2014        Furniture  157192.86         1623.0
10  2014  Office Supplies  151776.37         4569.0
11  2014       Technology  175278.24         1389.0

In [76]:
query='''
SELECT MAX(`Order Date`) AS MaxOrderDate
FROM df_cleanedok;
'''
pd.read_sql_query (query, engine)

  MaxOrderDate
0   2017-12-30

ubconsulta para obtener los valores mínimos y máximos de cada columna y luego unirlo con la consulta principal. Modifica tu consulta de la siguiente manera:La fórmula (Columna - MIN(Columna)) / (MAX(Columna) - MIN(Columna)) normaliza los valores de cada columna en el rango de 0 a 1.

Esta consulta te dará los valores normalizados de las columnas Recency, Frequency y Monetary, junto con el CustomerID asociado a cada registro.

In [77]:
query = '''
SELECT Segments, 
       COUNT(DISTINCT `Customer ID`) AS TotalCustomers, 
       SUM(Profit) AS TotalProfit,
       ROUND(COUNT(DISTINCT `Customer ID`) / (SELECT COUNT(DISTINCT `Customer ID`) FROM df_cleanedok) * 100,1) AS CustomerPercentage,
       AVG(RecencyScore) AS AverageRecencyScore,
       AVG(FrequencyScore) AS AverageFrequencyScore,
       AVG(MonetaryScore) AS AverageMonetaryScore,
       AVG (Quantity) AS AverageQuantity
FROM df_cleanedok
GROUP BY Segments
ORDER BY TotalCustomers DESC;
'''

pd.read_sql_query(query, engine)

,Segments,TotalCustomers,TotalProfit,CustomerPercentage,AverageRecencyScore,AverageFrequencyScore,AverageMonetaryScore,AverageQuantity
0,Promising,307,120885.52,38.7,4.9967,2.0000,1.1683,3.7729
1,New Customers,242,35854.83,30.5,4.4621,1.2735,1.0263,3.7827
2,Potential Loyalist,208,117502.56,26.2,4.9349,3.4074,1.3830,3.7871
3,Hibernating,15,2260.51,1.9,2.2623,2.1148,1.4180,4.0738
4,About to sleep,13,4646.21,1.6,2.6259,2.1156,1.0000,3.9864
5,Lost,5,342.89,0.6,1.0000,1.7333,1.0000,4.4667
6,Loyal customer,2,2970.26,0.3,5.0000,4.0000,3.0000,3.7759
7,Need Attention,1,1933.76,0.1,4.0000,4.0000,3.0000,3.7857

Our startegy is going to be based in the Promising, new Customers and Potentials Loyalist, that is 95.4% of our customer. This put the company on risk as we really no
As well we need to increase the basket price of the sales.
- For new customers: Increase frequency and profit: promotion for the next months during one month of 20%off of the total basket. Specific add to products with high profit: (poner cuales)
- For promising customers: Increase Monetary Score. Get 20% off on the 4th product
- Potential Loyalist:Increase Monetary Score. Get 20% off on the 3rd product

Hacer surveys de satisfaction

In [78]:
query='''
SELECT 
    Segments,
    CASE
        WHEN Discount > 0 THEN 'Discount applied'
        ELSE 'No discount'
    END AS DiscountStatus,
    `Sub-Category`,
    COUNT(`Sub-Category`) AS TotalQuantity,
    SUM(Sales) AS TotalSales,
    SUM(Profit) AS TotalProfit
FROM df_cleanedok
GROUP BY Segments, DiscountStatus, `Sub-Category`;
'''
pd.read_sql_query(query, engine)

,Segments,DiscountStatus,Sub-Category,TotalQuantity,TotalSales,TotalProfit
0,New Customers,No discount,Bookcases,9,3994.64,861.33
1,New Customers,No discount,Chairs,16,10450.44,2275.32
2,Promising,No discount,Labels,97,3677.36,1762.40
3,Promising,Discount applied,Tables,101,59787.07,-14765.98
4,Promising,Discount applied,Storage,123,24163.46,-1346.61
...,...,...,...,...,...,...
214,Lost,Discount applied,Art,1,55.33,6.22
215,Lost,No discount,Art,1,20.65,9.50
216,Lost,No discount,Storage,1,204.90,0.00
217,Lost,Discount applied,Chairs,2,918.27,76.02
218,Need Attention,No discount,Phones,1,437.85,131.35

In [79]:
query='''
SELECT `Sub-Category`, SUM(Sales) AS TotalSales, SUM(Profit) AS TotalProfit
FROM df_cleanedok
WHERE YEAR(`Order Date`) = '2017'
GROUP BY `Sub-Category`
ORDER BY `TotalSales` DESC;

'''
pd.read_sql_query(query, engine)

   Sub-Category  TotalSales  TotalProfit
0        Phones   105340.57     12849.52
1        Chairs    95554.34      7643.53
2       Binders    72788.06      7669.69
3       Storage    69677.60      7402.79
4       Copiers    62899.36     25031.79
5        Tables    60893.51     -8140.71
6   Accessories    59946.21     15672.45
7      Machines    43544.65     -2869.23
8    Appliances    42926.89      7865.25
9     Bookcases    30024.26      -583.62
10  Furnishings    28915.07      4099.22
11        Paper    27694.68     12040.71
12     Supplies    16049.40      -955.29
13          Art     8863.06      2221.96
14       Labels     3861.21      1744.60
15    Envelopes     3378.59      1441.74
16    Fasteners      857.59       304.94

In [80]:
query='''
SELECT `Customer ID`, COUNT(`Sales`) AS Oneordersincejoin, SUM(Sales) AS TotalSale
FROM df_cleanedok
WHERE YEAR(`Order Date`) = '2017'
GROUP BY `Customer ID`
HAVING Oneordersincejoin = 2
ORDER BY TotalSale DESC;
'''
pd.read_sql_query(query, engine)

    Customer ID  Oneordersincejoin  TotalSale
0      HL-15040                  2   10522.55
1      GT-14635                  2    8167.42
2      SR-20740                  2    3505.84
3      AC-10450                  2    3459.60
4      RM-19675                  2    2970.43
..          ...                ...        ...
102    TS-21340                  2      17.61
103    MG-18205                  2      16.74
104    Dl-13600                  2      16.69
105    RS-19870                  2      12.68
106    SC-20800                  2       6.63

[107 rows x 3 columns]

Loyalty per segment

In [87]:
query='''
SELECT Segments, YEAR(`Order Date`) AS Year, AVG(Frequency) AS AVG_frequency, AVG(Monetary) AS AVG_monetary
FROM df_cleanedok
GROUP BY Segments, YEAR(`Order Date`)
ORDER BY Segments;
'''
pd.read_sql_query(query, engine)

              Segments  Year  AVG_frequency  AVG_monetary
0       About to sleep  2014        11.3421   1908.800000
1       About to sleep  2015        11.8800   2354.729067
2       About to sleep  2016        11.7353   2576.877941
3          Hibernating  2014        13.3261   4206.380870
4          Hibernating  2015        10.9385   3860.374923
5          Hibernating  2016        12.7273   6010.450000
6                 Lost  2014         9.1000   2629.177500
7                 Lost  2015         9.8000   2186.170000
8       Loyal customer  2014        29.0000  12866.831111
9       Loyal customer  2015        29.0000  13390.186667
10      Loyal customer  2016        29.0000  13095.799167
11      Loyal customer  2017        29.0000  12703.282500
12      Need Attention  2014        28.0000  10880.560000
13      Need Attention  2015        28.0000  10880.560000
14      Need Attention  2016        28.0000  10880.560000
15      Need Attention  2017        28.0000  10880.560000
16       New Customers  2014         8.0633   1530.928494
17       New Customers  2015         8.3466   1764.794816
18       New Customers  2016         8.5060   1627.842024
19       New Customers  2017         6.9853   1336.511618
20  Potential Loyalist  2014        21.6334   4631.727509
21  Potential Loyalist  2015        21.5752   4506.745775
22  Potential Loyalist  2016        21.8942   4805.350144
23  Potential Loyalist  2017        21.2877   4587.793034
24           Promising  2014        12.3126   3436.908191
25           Promising  2015        12.3617   3293.148745
26           Promising  2016        12.2864   3080.276353
27           Promising  2017        12.2282   2893.909551

In [88]:
query='''
SELECT Segments, YEAR(`Order Date`) AS Year, COUNT(DISTINCT `Customer ID`) AS CustomerCount, AVG(Frequency) AS AVG_frequency, AVG(Monetary) AS AVG_monetary
FROM df_cleanedok
GROUP BY Segments, YEAR(`Order Date`)
ORDER BY Segments;
'''
pd.read_sql_query(query, engine)

              Segments  Year  CustomerCount  AVG_frequency  AVG_monetary
0       About to sleep  2014             12        11.3421   1908.800000
1       About to sleep  2015             12        11.8800   2354.729067
2       About to sleep  2016             10        11.7353   2576.877941
3          Hibernating  2014             13        13.3261   4206.380870
4          Hibernating  2015             15        10.9385   3860.374923
5          Hibernating  2016              3        12.7273   6010.450000
6                 Lost  2014              5         9.1000   2629.177500
7                 Lost  2015              2         9.8000   2186.170000
8       Loyal customer  2014              2        29.0000  12866.831111
9       Loyal customer  2015              2        29.0000  13390.186667
10      Loyal customer  2016              2        29.0000  13095.799167
11      Loyal customer  2017              2        29.0000  12703.282500
12      Need Attention  2014              1        28.0000  10880.560000
13      Need Attention  2015              1        28.0000  10880.560000
14      Need Attention  2016              1        28.0000  10880.560000
15      Need Attention  2017              1        28.0000  10880.560000
16       New Customers  2014            152         8.0633   1530.928494
17       New Customers  2015            138         8.3466   1764.794816
18       New Customers  2016            176         8.5060   1627.842024
19       New Customers  2017            182         6.9853   1336.511618
20  Potential Loyalist  2014            177        21.6334   4631.727509
21  Potential Loyalist  2015            175        21.5752   4506.745775
22  Potential Loyalist  2016            196        21.8942   4805.350144
23  Potential Loyalist  2017            202        21.2877   4587.793034
24           Promising  2014            233        12.3126   3436.908191
25           Promising  2015            228        12.3617   3293.148745
26           Promising  2016            250        12.2864   3080.276353
27           Promising  2017            306        12.2282   2893.909551

Once again, what we can see our business it's suported by New customers, Potential Loyalist and Promissing.
We can see over the years the tendendy is the same, and we don't have as much Champions Customers with high retention, high baskets dont have Champions customers and we do not have any customer od the segment "Can't loose them" ( the one that they don't have recurrency but spent high amount of money).

Do we need to place offer in all the products or only in the ones we have more profit, or are the strategic for the company? we are going to see per product category, the profit and the sales. Only we take into account our target segments: New customers, Promising and Potential Loyalist. We are only analyse the last year.

In [136]:
query='''
SELECT Segments, YEAR(`Order Date`) AS Year, Category, SUM(Profit) AS Total_Profit, SUM(Sales) AS Total_Sales
FROM df_cleanedok
WHERE YEAR(`Order Date`) = '2017' AND Segments IN ('New Customers', 'Potential Loyalist', 'Promising')
GROUP BY Segments, Year, Category
ORDER BY Total_Sales DESC;
'''
df_query=pd.read_sql_query(query, engine)
df_query

             Segments  Year         Category  Total_Profit  Total_Sales
0           Promising  2017       Technology      29896.27    138150.52
1           Promising  2017  Office Supplies      18349.50    110843.20
2  Potential Loyalist  2017  Office Supplies      14532.67    100892.54
3           Promising  2017        Furniture         64.13     99518.52
4  Potential Loyalist  2017       Technology      19552.94     99044.72
5  Potential Loyalist  2017        Furniture       1844.37     91405.44
6       New Customers  2017       Technology       1233.24     34505.56
7       New Customers  2017  Office Supplies       6592.24     33506.07
8       New Customers  2017        Furniture        599.06     21757.91

In [128]:
import pandas as pd
df_query = pd.read_sql_query(query, engine)
correlation_matrix = df_query[['Total_Sales', 'Total_Profit']].corr()

# Obtener la correlación más alta
highest_correlation = correlation_matrix['Total_Sales']['Total_Profit']

print("La correlación más alta entre Total Sales y Total Profit es:", highest_correlation)

La correlación más alta entre Total Sales y Total Profit es: 0.7181480828570526

Wich is the min, max and average price for new customers?

- Another campaign would be for the customer that had bought only one in 2017 and had a spent of more 1000$

Una vez que tienes los valores normalizados de Recency, Frequency y Monetary en el rango de 0 a 1, puedes calcular el RFM Score sumando los valores normalizados de cada componente.

El RFM Score es una forma de combinar las tres métricas (Recency, Frequency, Monetary) en un solo número que representa el valor de un cliente. Puedes asignar un peso a cada componente para ajustar su importancia relativa en el cálculo del RFM Score. Por ejemplo, puedes asignar un peso del 40% a Recency, un peso del 30% a Frequency y un peso del 30% a Monetary.

In [135]:
import pandas as pd

# Ejecutar la consulta SQL y almacenar los resultados en un DataFrame
df_query = pd.read_sql_query(query, engine)

# Filtrar los datos para las categorías de interés
categories = ['Category1', 'Category2', 'Category3']
filtered_df = df_query[df_query['Category'].isin(categories)]

# Calcular la correlación entre Total_Sales y Total_Profit por categoría
correlation_df = filtered_df.groupby('Category')[['Total_Sales', 'Total_Profit']].corr().iloc[0::2, -1].reset_index()
correlation_df.columns = ['Category', 'Correlation']

print(correlation_df)

Empty DataFrame
Columns: [Category, Correlation]
Index: []

Distribution of Sales

Distribution of Profit

Distribution of Quantity: https://www.kaggle.com/code/ashwinshetgaonkar/super-store-analysis-data-visual-seaborn/notebook

Distribution of Discount

line plot:
Average Sales , Profit and Quantity sold over Time Period(2014-2018)

Sales vs Profit for Time Period(2014-2018)

¿Quiénes son tus mejores clientes?
¿Cuáles son tus clientes más leales?
¿Quiénes están cerca de abandonar tu marca o tu eCommerce?
¿Cuáles son los clientes considerados como perdidos a los que no debes prestar demasiada atención?
¿En qué clientes es rentable invertir esfuerzo extra para conservarlos?
¿Qué segmento de clientes reaccionará de forma favorable ante tu próxima campaña, o la actual?

Las anteriores respuestas constituyen el punto de partida para diseñar estrategias, y como consecuencia son capaces de conseguir los siguientes beneficios:  

Más eficiencia: optimización de las acciones de marketing y de su impacto.
Mayor conversión: Incremento del CVR.
Mejor fidelización: mayor retención de clientes y por más tiempo.
Más interacción: aumento de la tasa de respuesta.
Mayores ingresos: crecimiento de las ventas.

acciones de marketing a segmentos de clientes estratégicos, ganar impacto, aumentar la rentabilidad y mejorar la eficiencia de las acciones de marketing.

Análisis de compra por segmento: Examina el comportamiento de compra de cada segmento, como la frecuencia de compra, el valor medio de la compra, el tamaño del carrito de compras, etc. Esto te ayudará a identificar las diferencias en los patrones de compra entre segmentos y a entender qué segmentos son más valiosos desde el punto de vista del negocio.

Análisis de retención de clientes: Evalúa la tasa de retención de cada segmento de clientes. Compara la proporción de clientes que regresan y realizan compras recurrentes en cada segmento. Esto te permitirá identificar los segmentos con una mayor lealtad y aquellos que podrían requerir estrategias adicionales para fomentar la retención.

Análisis de cross-selling y upselling: Analiza las pautas de compra cruzada y de mejora de ventas dentro de cada segmento. Identifica qué productos o categorías tienden a comprarse juntos y qué oportunidades existen para promocionar productos complementarios o de mayor valor a clientes específicos.

Análisis de ciclo de vida del cliente: Examina cómo evolucionan los clientes a lo largo del tiempo en cada segmento. Analiza el valor de por vida de los clientes en cada segmento, identifica los momentos críticos en su ciclo de vida y desarrolla estrategias específicas para cada etapa (adquisición, activación, retención, reactivación, etc.).

Análisis de rentabilidad por segmento: Evalúa la rentabilidad de cada segmento de clientes. Calcula el margen de beneficio, el valor medio de las transacciones y otros indicadores relevantes para entender qué segmentos generan más ganancias y cuáles podrían requerir acciones para aumentar su rentabilidad.

Estas son solo algunas ideas de análisis que puedes explorar una vez que hayas segmentado a tus clientes. Recuerda que la elección de los análisis específicos dependerá de tus objetivos comerciales y de las características de tus datos.

https://www.shopify.com/es/blog/estrategias-de-precios-para-ventas-minoristas